@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"].</h2>

    <h4>Create a new account.</h4>
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a class="btn btn-default" asp-action="RegisterAsAdminOrClient" asp-route-id="Admin">Register As Admin</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a class="btn btn-default" asp-action="RegisterAsAdminOrClient" asp-route-id="Client">Register As Client</a>
        </div>
    </div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
