@model BackEndCapstone.Models.ScheduledAppointment

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Appointment</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="StylistName" class="col-md-2 control-label">Stylist</label>
            <div class="col-md-10">
                <select asp-for="StylistName" class ="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClientName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ClientName" class ="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ScheduledServices" class="col-md-2 control-label">Service</label>
            <div class="col-md-10">
                <select asp-for="ScheduledServices" class ="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Appointment.StartTime" class="col-md-2 control-label">Start Time</label>
            <div class="col-md-10">
                <input asp-for="Appointment.StartTime" class="form-control" />
                <span asp-validation-for="Appointment.StartTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Appointment.AppointmentDate" class="col-md-2 control-label">Date</label>
            <div class="col-md-10">
                <input asp-for="Appointment.AppointmentDate" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

